.intro_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 150px 0;
  position: relative;
  /* z-index: 1; */
}

.intro_big {
  font-family: machinaBold;
  font-size: 55px;
  /* line-height: 74px; */
  font-weight: 800;
  background: radial-gradient(#7388ff, #ca73ff, #ff739d);
  backdrop-filter: blur(60px);
  background-clip: text;
  clip-path: inset();
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 50px;
}
.intro_top {
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  padding: 0 20px;
}
.intro_small {
  font-size: 15px;
  text-align: center;
  /* line-height: 27px; */
  margin-bottom: 30px;
  word-spacing: 2px;
  font-weight: 600;

  background: #6666ff;
  background-clip: text;
  clip-path: inset();
  -webkit-text-fill-color: transparent;
}
.intro_xs {
  color: #e7e7e7;
  /* word-spacing: 2px; */
  display: flex;
  font-size: 17px;
  flex-direction: column;
  font-family: machinaBold;

  text-align: center;
}
.btn_container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.pointer {
  color: #6666ff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 30px;
}

@media (min-width: 659px) {
  .btn_container {
    flex-direction: row;
  }
  .intro_big {
    font-size: 72px;
    line-height: 73px;
  }
  .btn_container {
    gap: 23px;
  }
  .intro_small {
    font-size: 27px;
  }
  .intro_xs {
    font-size: 20px;
  }
}
