@font-face {
  font-family: machina;
  src: url("./Machina/NeueMachina-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: machinaLight;
  src: url("./Machina/NeueMachina-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: machinaBold;
  src: url("./Machina/NeueMachina-Ultrabold.otf");
  font-weight: 800;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: machina, sans-serif;
}
